{:server
 {:port 3002
  :data-host "data.crossref.org"
  :id-host "id.crossref.org"}
 :logstash
 {:host "5.9.51.2"
  :port 4444
  :name "cayenne-data"}
 :service
 {:api
  {:url "http://localhost:3000"
   :transform-path "/transform"
   :works-path "/works"}
  :data
  {:url "http://data.crossref.org"}
  :id
  {:url "http://id.crossref.org"}}
 :check
 {:doi "10.5555/12345678"}}

