{:server
 {:port 3002
  :data-host "data.crossref.org"
  :id-host "id.crossref.org"}
 :service
 {:api
  {:url "http://api.crossref.org"
   :transform-path "/transform"
   :works-path "/works"}
  :data
  {:url "http://data.crossref.org"}
  :id
  {:url "http://id.crossref.org"}}
 :check
 {:doi "10.5555/12345678"}}

